    
    /* ////////////////////////////////////  designer section start here  //////////////////////////////////// */
    
    #designinnerModal .designer-sec {
        padding-top: 50px;
    }
    
    #designinnerModal .designer-sec::before {      
        content: "";
        position: absolute;
        background: url(../images/design-bg.png) no-repeat;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.6;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 450px;
        right: 0;
        display: block;
        margin: auto;
        max-height: unset;
        height: 1020px;
        width: 1280px;
    }
    
    .product-1 {
        background: url(../images/design-9.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .product-2 {
        background: url(../images/design-2.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .product-3 {
        background: url(../images/design-3.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .product-4 {
        background: url(../images/design-4.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .product-5 {
        background: url(../images/design-5.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #designinnerModal .modal-header {
        padding: 0px;
        padding-right: 4rem;
    }
    
    #designinnerModal .modal-header .btn-close {
        box-shadow: none;
        z-index: 9999;
    }
    
    #designinnerModal .design-card-inner a {
        width: 100%;
    }
    
    .add-btn span {
        color: #1EA9D4;
    }
    
    .btn-add {
        margin: 0;
        border: 1px solid #1EA9D4;
        background-color: #1EA9D4;
        color: #ffffff;
        border-radius: 50px;
        opacity: 1;
        font-size: 18px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        box-shadow: 0 12px 12px rgb(0 0 0 / 16%);
    }
    
    #productdesignModal .modal-header {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #productdesignModal .btn-close {
        padding: 0px;
        width: 40px;
        height: 40px;
        transform: translate(45px);
    }
    
    #productdesignModal .designer-sec::before {
        background: none !important;
    }
    
    .design-card-right-top {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .design-card-right-top p {
        font-size: 10px;
        font-weight: bold;
        color: #1EA9D4;
    }
    
    #productdesignModal .designer-sec-1 {
        padding-bottom: 80px !important;
    }
    
    .txt-green {
        color: #1ED46B !important;
    }
    
    .txt-blue {
        color: #1EA9D4 !important;
    }
    
    .txt-red {
        color: #D83554 !important;
    }
    
    .product-add-link {
        width: 100%;
    }
    /* ////////////////////////////////////  designer-sec-1  css end here  //////////////////////////////////// */

    .notification-box.notification-box-wdt{
        width: 427px;
    }

    /* ////////////////////////////////////  product add view  css start here  //////////////////////////////////// */
    
    .product-add-upload {
        background-color: #9FA5B2;
        display: block;
        position: relative;
        border-radius: 10px;
        border: 4px solid #fff;
        width: 128px;
        height: 128px;
    }
    
    .product-add-upload p {
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        position: absolute;
        width: 100%;
        top: 0;
        /* opacity: 0; */
    }
    
    .uplod-img-active p {
        opacity: 1;
    }
    
    .product-add-upload img {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        height: 100%;
        width: 100% !important;
    }
    
    .product-add-upload .camera-icon {
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        bottom: -20px;
        left: -20px;
        background-color: #1F5098;
        text-align: center;
        cursor: pointer;
    }
    
    .product-add-upload .camera-icon i {
        line-height: 2;
        color: #fff;
    }
    
    .almuntjat-form-error i {
        font-size: 18px;
        margin-left: 20px;
        color: #fff;
    }
    
    .upload-cross-red {
        background-color: #D41E1E;
    }
    
    .uplod-img-active {
        border: 4px solid #1EA9D4;
    }
    
    .ahs-profile-plus {
        font-size: 38px !important;
    }
    
    .switch {
        width: 69%;
        text-align: left;
        margin-top: 20px;
    }
    
    .switch .form-check {
        display: flex;
        justify-content: left;
        align-items: center;
        direction: ltr;
        padding-left: 0px;
    }
    
    .switch .form-check-input {
        width: 40px;
        height: 23px;
        background-color: #02BB84;
        border-color: #02BB84;
    }
    
    .switch .form-check-label {
        margin: 0px;
        padding-left: 10px;
        border: none;
        font-size: 14px;
        justify-content: left;
    }
    
    .switch .form-check-input:focus {
        box-shadow: none;
    }
    
    .switch p {
        color: #9FA5B2;
        font-family: 'JannaLT-bold';
        margin-bottom: 14px;
        font-weight: 300;
    }
    
    .error-red-bg {
        background-color: #D83554 !important;
    }
    
    .productadd-top-btn {
        background-color: #E0E0DE;
        color: #fff;
        height: 40px;
        width: 133px;
        text-align: center;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        border-radius: 20px;
    }
    
    form .search-input i {
        pointer-events: none !important;
    }
    /* ////////////////////////////////////  product add view  css end here  //////////////////////////////////// */
    /* stat blur bg */
    
    .blur-star {
        display: none;
    }
    
    .blur-bg {
        margin: auto;
        background-color: rgb(255 255 255 / 0%);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 662px;
        position: absolute;
        left: 0;
        right: 0;
        top: 325px;
        z-index: 1;
    }
    
    .blur-star-inner {
        display: flex;
        width: 500px;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .blur-bg .review-text {
        width: 500px;
    }
    
    .blur-star .form-control {
        background-color: #fff !important;
        pointer-events: auto !important;
    }
    
    .blur-star-bottom-btn {
        text-align: center;
    }
    
    .review-text-hide {
        display: none;
    }
    
    .show-footer-btns {
        display: none;
    }
    
    .credit-log {
        position: relative;
        display: none;
    }
    
    .credit-logo-inner {
        border-radius: 20px!important;
        background-color: #fff;
        color: #000;
        border: 4px solid #D3DADE;
        padding: 8px 15px;
        height: 73px;
        width: 359px;
    }
    
    .flot-lft {
        float: left;
    }
    
    .credit-card-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #D3DADE;
        padding: 10px;
    }
    
    .credit-logo-inner i {
        font-size: 20px;
        color: #00AE9B;
    }
    
    .credit-logo-inner .row {
        align-items: center;
    }
    
    .credit-logo-inner h5 {
        font-size: 14px;
        color: #003B4A;
        margin-bottom: 0px;
    }
    
    .green-border {
        border-color: #00AE9B;
    }
    
    .gray-background {
        color: #D3DADE;
    }
    
    .blur-bg-1 {
        background-color: rgb(255 255 255 / 0%);
        backdrop-filter: blur(8px);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 380px;
    }
    
    .blur-bg--a {
        top: 0;
        height: 380px;
        display: block;
    }
    
    .orange-bg {
        background-color: #F8AC00;
    }
    
    .bill-click-show {
        display: none;
    }
    .mb-50{
        margin-bottom: 50px !important;
    }

    .blur-bg-1.d-block{
        height: 250px;
    }
.productdesign-main::before{
    display: none;
}

#designinnerModal .designer-sec-1::after{
    content: "";
    position: absolute;
    background: linear-gradient(360deg, rgba(255, 255, 255, 100%), transparent) !important;
    background-repeat: no-repeat;
    top: 320px;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    z-index: -1;
}
    /* styling end here */











    /* //////////////////////////////////// responsive start here ////////////////////////////////////////////////*/
    
    @media (min-width: 360px) and (max-width: 767px) {
        .designer-sec {
            padding-top: 150px;
            margin-top: 60px;
        }
        .designer-sec::before {
            background-size: cover;
            top: 140px;
            max-height: 150px;
            background: none !important;
        }
        .designer-title {
            font-size: 36px;
        }
        .search-form {
            padding: 0px;
            padding-bottom: 50px;
        }
        .search-form .ps-0 {
            padding-left: 12px !important;
        }
        .designer-sec .sort-btn .btn {
            text-align: right;
        }
        .btn-list {
            padding: 0px;
            text-align: center;
        }
        .btn-white, .btn-blue {
            margin-left: 10px;
            margin-bottom: 30px;
        }
        .btn-trans {
            margin-left: 10px;
            margin-bottom: 30px;
        }
        .btn-list .btn-trans:nth-child(even) {
            margin-left: 10px !important;
        }
        .design-card-inner .row:first-child .col-md-6 {
            width: 50%;
        }



        #designinnerModal .designer-sec::before {
            top: 100px !important;
            bottom: auto;
            left: 0;
            right: 0;
            display: block;
            margin: auto;
            max-height: unset;
            height: 180px !important;
            width: 327px !important;
            overflow: hidden;
            background: none !important;
            /* background: url(../images/design-mob.png) no-repeat !important; */
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
        }


        #productdesignModal .btn-close{
            transform: translate(10px);
        }
        /* .almuntjat-form {
            padding: 50px 100px 150px 100px !important;
        } */

        #designinnerModal .designer-sec {
            padding-top: 0px;
        }

        #designinnerModal .modal-header{
            padding-top: 140px;
            padding-right: 20px;
        }

        #productaddModal .almuntjat-form{
            padding: 0px !important;
        }

        .ahs-profile-plus {
            font-size: 32px;
        }
        /* #designinnerModal css start here */
        /* .btn-list .btn{
            margin-left: 0px;
        } */
        /* #designinnerModal css end here */
    }

    /* ////////////////////////////////////////// mobile landscape responsive //////////////////////////////////////////////////////// */

    @media (min-width: 576px) and (max-width: 767px) {

    }
    
    /* ////////////////////////////////////////// tab landscape responsive //////////////////////////////////////////////////////// */

    @media (min-width: 768px) and (max-width: 991px) {
        .notification-box.notification-box-wdt{
            width: 300px;
        }
        .designer-sec {
            padding-top: 170px;
            margin-top: 60px;
        }
        .designer-sec::before {
            top: 140px;
        }
        .btn-white {
            margin-left: 10px;
            margin-bottom: 30px;
        }
        .btn-trans {
            margin-left: 10px;
            margin-bottom: 30px;
        }

        #designinnerModal .designer-sec::before{
            width: 1220px;
            bottom: 500px;
        }
        #productdesignModal .btn-close{
            transform: translate(10px);
        }
        .almuntjat-form {
            padding: 0px !important;
            /* padding: 50px 100px 150px 100px !important; */
        }


        
    }
    
    /* ////////////////////////////////////////// Large landscape responsive //////////////////////////////////////////////////////// */


    @media (min-width:992px) and (max-width: 1199px) {
        .notification-box.notification-box-wdt{
            width: 300px;
        }
        .search-form {
            padding: 0px 7px;
            padding-bottom: 50px;
        }
        .btn-list {
            margin-bottom: 52px;
            padding-right: 28px;
        }
        .btn-white {
            margin-left: 10px;
        }
        .btn-trans {
            margin-left: 10px;
        }
        .btn-blue{
            margin-left: 10px;
        }

        .btn-list .blur-part {
            width: 250px;
            right: 700px;
        }

        #designinnerModal .designer-sec::before {
            top: 0;
            bottom: 370px;
            left: 0;
            right: -336px;
            display: block;
            margin: auto;
            max-height: unset;
            height: 1020px;
            width: 1650px;
        }

        #productdesignModal .btn-close{
            transform: translate(10px);
        }

        .modal.page .modal-header {
            padding: 4rem !important;
        }
        .almuntjat-form {
            padding: 50px 100px 150px 100px !important;
        }
        /* .m-l-20{
            margin-left: 20px;
        } */

           /* productaddformModal style */

           
    }
    

    @media (min-width:1200px) and (max-width: 1300px) {
        #designinnerModal .designer-sec::before {
            right: -306px;
        }
    }

    /* ////////////////////////////////////////// Extra Large landscape responsive //////////////////////////////////////////////////////// */

    @media (min-width: 1400px) {


    }
    /* //////////////////////////////////// responsive end here ////////////////////////////////////////////////*/